.contents.row
  %h2 新規登録
.form
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .form__field
      %h2 メールアドレス
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .form__field
      %h2 パスワード（#{@minimum_password_length}文字以上）
      = f.password_field :password, autocomplete: "new-password"
    .form__field
      %h2 パスワード（確認）
      = f.password_field :password_confirmation, autocomplete: "new-password"
    .form__field
      %h2 ニックネーム
      = f.text_field :nickname
    .form__field
      %h2 プロフィール
      = f.text_area :profile
    .form__field
      %h2 プロフィール 画像
      = f.file_field :avatar, id: "preview_img"
      %img#img1{style: "width:300px;height:300px;"}/
    .form__actions
      = f.submit "新規登録", class: "form__actions__btn"
      = link_to "ログイン", new_user_session_path, class: "form__actions__btn"