= render "shared/profile", user: @user
%ul.tab-btn-box.js-btn-box
  %li.tab.js-tab.is-active 
    投稿一覧
  %li.tab.js-tab 
    いいね一覧
.tab-contents-box
  .tab-contents.js-tab-contents.is-show
    = render partial: "shared/posts-box2", locals: { posts: @posts}
    = paginate(@posts)
  .tab-contents.js-tab-contents
    = render partial: "shared/posts-box2", locals: { posts: @liked_posts}
    = paginate(@liked_posts)

:javascript
  $(function(){
    $('.js-tab').click(function(){
      $('.tab').removeClass('is-active');
      $(this).addClass('is-active');
      $('.is-show').removeClass('is-show');
        
      const index = $(this).index();
      $('.tab-contents').eq(index).addClass('is-show');
    });
  });
