.posts__list
  - @posts.each do |post|
    %div{id: "box-number#{post.id}", class: "posts__list__box"}
      = link_to post_path(post.id) do
        = image_tag(post.image.url, data: {"turbolinks" => false}, size: '250x200', class: "img")
      .posts__list__box__name
        = post.name
      .posts__list__box__content
        = post.content
      .posts__list__box__user
        = post.user.nickname
      .posts__list__box__like
        %div{id: "likes_buttons_#{post.id}"}
          = render partial: 'likes/like', locals: { post: post, likes: @likes}
        - if user_signed_in? && current_user.id == post.user_id
          .posts__update
            = link_to icon('fas', 'cog'), edit_post_path(post.id)
          .posts__delete
            = link_to icon('fas', 'trash-alt'), post_path(post.id), method: :delete, remote: true, data: { confirm: '削除してよろしいですか？' }