.posts__list
  - @posts.each do |post|
    .posts__list__box
      = link_to post_path(post.id) do
        = image_tag(post.image.url, data: {"turbolinks" => false}, size: '250x200', class: "img")
      .posts__list__box__name
        = post.name
      .posts__list__box__content
        = post.content
      .posts__list__box__user
        = post.user.nickname
      .posts__list__box__like
        %div{id: "likes_buttons_#{post.id}"}
          = render partial: 'likes/like', locals: { post: post, likes: @likes}