.contents.row
  %h2 投稿編集
.form
  = form_for @post do |f|
    .form__field
      %h2 紹介するアイテム
      = f.text_field :name
    .form__field
      %h2 紹介文
      = f.text_area :content
    .form__field
      %h2 画像をアップロード
      %label.input-box__image
        = f.file_field :image
    .form__actions
      = f.submit "更新する", class: "form__actions__btn"
      = link_to "戻る", posts_path(@post.id), class: "form__actions__btn"